services:
  mariadb:
    image: mariadb
    container_name: IES_MariaDB
    restart: on-failure:10
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PW}
    volumes:
      - IESMariaDBVolume:/var/lib/mysql
    profiles:
      - Backend
    ports:
      - 3306:3306
    network_mode: host
    # networks:
    #   - IES_Gateway_Network

  phpmyadmin:
    image: phpmyadmin
    container_name: IES_phpmyadmin
    restart: on-failure:10
    ports:
      - 8080:80
    depends_on:
      - mariadb
    environment:
      - PMA_HOST=mariadb
    profiles:
      - Backend
    network_mode: host
    # networks:
    #   - IES_Gateway_Network

  mqtt-broker:
    image: eclipse-mosquitto
    container_name: IES_MQTT_Broker
    restart: on-failure:10
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    ports:
      - 1883:1883
    network_mode: host
    # networks:
    #   - IES_Gateway_Network

  backend:
    build: IES_Gateway_Backend
    container_name: IES_Gateway_Backend
    restart: on-failure:10
    ports:
      - "3000:3000"
    profiles:
      - Backend
    depends_on:
      - mariadb
    network_mode: host
    # networks:
    #   - IES_Gateway_Network

  mqtt-client:
    build: IES_MQTT_Client
    container_name: IES_MQTT_Client
    profiles:
      - Backend
    restart: on-failure:10
    depends_on:
      - mqtt-broker
      - backend
    network_mode: host
    # networks:
    #   - IES_Gateway_Network

volumes:
  IESMariaDBVolume:
    name: IESMariaDBVolume
networks:
  IES_Gateway_Network:
    name: IES_Gateway_Network
