services:
  mariadb:
    image: mariadb
    container_name: IES_MariaDB
    restart: on-failure:10
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PW}
    volumes:
      - IESMariaDBVolume:/var/lib/mysql
    profiles:
      - Backend

  phpmyadmin:
    image: phpmyadmin
    container_name: IES_phpmyadmin
    restart: on-failure:10
    ports:
      - 8080:80
    depends_on:
      - mariadb
    environment:
      - PMA_HOST=mariadb
    profiles:
      - Backend

  mqtt-broker:
    image: eclipse-mosquitto
    container_name: IES_MQTT_Broker
    restart: on-failure:10
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    ports:
      - 1883:1883
    networks:
      - IESGatewayNet

  backend:
    build: IES_Gateway_Backend
    container_name: IES_Backend
    restart: on-failure:10
    ports:
      - "3000:3000"
    depends_on:
      - mariadb
    profiles:
      - Backend

  mqtt-client:
    build: IES_MQTT_Client
    container_name: IES_MQTT_Client
    profiles:
      - debug
      - productive
      - mqttclient
    restart: on-failure:10
    depends_on:
      - mariadb
    network_mode: "host"

volumes:
  IESMariaDBVolume:
    name: IESMariaDBVolume
networks:
  IESGatewayNet:
    name: IESGatewayNetwork
